html,
body,
ul,
ol,
li,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
* {
  box-sizing: border-box;
}
@media screen and (orientation: portrait) {
  /*竖屏 css*/
  .block {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  /*横屏 css*/
  .block {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 100vh;
  }
}
html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: 'Miscrosoft Yahei', '微软雅黑';
  font-size: 14px;
  overflow: hidden;
}
.preload {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 120;
  background: #fff;
}
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 110;
  background-image: url(../img/loading/bg.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  /*.bg {
        background:url(https://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/main/loading.png);
        background-repeat:no-repeat;
        background-size:contain;
        width:80px;
        height:80px;
        margin:40vh auto;
        line-height:100px;
        animation: myrotate 2s linear 0s infinite normal;
    }*/
}
.loading > .words {
  margin: 10vh auto;
}
.loading > .words img {
  width: 80%;
}
.loading .body {
  width: 100%;
  height: 50%;
  background-image: url(../img/loading/letter-body.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}
.loading .ticket {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.loading .ticket img {
  margin-top: 0px;
  width: 80%;
}
.loading .letter-up {
  width: 100%;
  height: 50%;
  position: relative;
  display: none;
}
.loading .letter-up img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.loading .letter-down img {
  width: 100%;
}
.loading .logo1 {
  width: 105px;
  height: 104px;
  top: 205px;
  left: 260px;
  background-image: url(../img/loading/logo-green.png);
  background-size: cover;
  position: absolute;
}
.loading .logo2 {
  width: 105px;
  height: 104px;
  top: 205px;
  left: 260px;
  background-image: url(../img/loading/logo-white.png);
  background-size: cover;
  position: absolute;
}
.loading .percent {
  width: 120px;
  height: 40px;
  top: 330px;
  left: 260px;
  position: absolute;
  text-align: center;
}
.loading .ready {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  bottom: 0;
  left: 0;
}
.loading .ready .finger {
  width: 20vw;
  margin: 10vh auto 20px auto;
}
.loading .ready .words {
  width: 80vw;
}
.swiper-container {
  height: 100%;
}
.swiper-container .shake {
  animation: shake 200ms ease infinite alternate;
}
.box-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  display: none;
}
.box-wrapper .countdown {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  background-image: url(../img/loading/bg.jpg);
}
.box-wrapper .countdown .timer {
  position: absolute;
  width: 90vw;
  height: 24px;
  top: 5vh;
  left: 5vw;
  text-align: right;
  padding-right: 10px;
  border: 2px solid #028135;
  border-radius: 12px;
  color: #f2f489;
  background-color: #028135;
  background-image: url(../img/countdown/timeline.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 12px;
  line-height: 18px;
}
.box-wrapper .countdown .timer:after {
  content: 's';
}
.box-wrapper .countdown .error {
  position: absolute;
  width: 100%;
  height: 8vh;
  left: 0;
  top: 22vh;
  background-image: url(../img/countdown/3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
.box-wrapper .countdown .animation {
  position: absolute;
  width: 100%;
  height: 30vh;
  left: 0;
  bottom: 35vh;
}
.box-wrapper .countdown .animation .disc {
  width: 100%;
  height: 100%;
  text-align: center;
}
.box-wrapper .countdown .animation .disc img {
  height: 100%;
}
.box-wrapper .countdown .animation .disc .circle {
  animation: rotate 5s linear 0s infinite normal;
}
.box-wrapper .countdown .animation .disc .finger {
  position: absolute;
  left: 65vw;
  top: 2vh;
  height: 70%;
}
.box-wrapper .countdown .animation .left {
  width: 50vw;
  height: 100%;
  position: absolute;
  background-image: url('../img/countdown/voice-left.png');
  background-repeat: repeat-x;
  background-position: 100% center;
  animation: wave-left 6s linear 0s infinite normal;
  left: 0;
}
.box-wrapper .countdown .animation .right {
  width: 50vw;
  height: 100%;
  position: absolute;
  background-image: url('../img/countdown/voice-right.png');
  background-repeat: repeat-x;
  background-position: 0 center;
  animation: wave-right 6s linear 0s infinite normal;
  right: 0;
}
.box-wrapper .countdown .answer {
  position: absolute;
  width: 100%;
  height: 10vh;
  bottom: 10vh;
  text-align: center;
}
.box-wrapper .countdown .answer img {
  width: 30%;
  margin: 0 1vw;
}
.box-wrapper .countdown .tips {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url(../img/countdown/tips.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.box-wrapper .share2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url(../img/scene/share.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 80% 3vh;
}
.airport {
  position: relative;
  font-size: 0;
}
.airport > div {
  position: absolute;
  width: 640px;
  left: 0;
}
.airport .open {
  height: 388px;
  height: 365px;
  top: 0;
  background-image: url(../img/airport/open.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.airport .walk {
  height: 392px;
  height: 371px;
  top: 245px;
  top: 215px;
  background-image: url(../img/airport/walk.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.airport .wait {
  height: 399px;
  height: 378px;
  top: 545px;
  top: 485px;
  background-image: url(../img/airport/wait.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.airport .fly {
  height: 270px;
  height: 248px;
  top: 862px;
  top: 782px;
  background-image: url(../img/airport/fly.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#scene .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
#scene .clickme {
  position: absolute;
  background-image: url(../img/scene/clickme.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 124px;
  height: 74px;
}
.japan .bg {
  background-image: url(../img/japan/bg.jpg);
}
.japan .flower {
  position: absolute;
  width: 457px;
  height: 666px;
  transform-origin: 0px 0px 0px;
  background-image: url(../img/japan/flower.png);
  background-size: contain;
  background-size: 600%;
  top: 0px;
  left: 70px;
}
.japan .product {
  position: absolute;
  width: 48px;
  height: 100px;
  background-image: url(../img/japan/product.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: 380px;
  top: 680px;
}
.japan .clickme {
  left: 340px;
  top: 600px;
}
.japan-result {
  background-image: url(../img/japan/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.geneva .bg {
  background-image: url(../img/geneva/bg.jpg);
}
.geneva .swan {
  position: absolute;
  width: 189px;
  height: 118px;
  transform-origin: 0px 0px 0px;
  background-image: url(../img/geneva/swan.png);
  background-size: contain;
  background-size: 300%;
  bottom: 60px;
  left: 150px;
}
.geneva .boat {
  position: absolute;
  width: 1156px;
  height: 229px;
  background-image: url(../img/geneva/boat.png);
  background-size: 200%;
  top: 650px;
  left: -800px;
}
.geneva .skiing {
  position: absolute;
  width: 739px;
  height: 402px;
  background-image: url(../img/geneva/skiing.png);
  background-size: 400%;
  top: 340px;
  left: 6px;
}
.geneva .product {
  position: absolute;
  width: 150px;
  height: 170px;
  background-image: url(../img/geneva/product.png);
  background-size: contain;
  left: 410px;
  top: 790px;
}
.geneva .clickme {
  left: 410px;
  top: 710px;
}
.geneva-result {
  background-image: url(../img/geneva/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.amazon .bg {
  background-image: url(../img/amazon/bg.jpg);
}
.amazon .tree {
  position: absolute;
  width: 640px;
  height: 1136px;
  background-image: url(../img/amazon/tree.png);
  background-size: cover;
  top: 0px;
  left: 0px;
}
.amazon .water {
  position: absolute;
  width: 856px;
  height: 251px;
  background-image: url(../img/amazon/water.png);
  background-size: cover;
  top: 800px;
  left: -110px;
}
.amazon .boat {
  position: absolute;
  width: 640px;
  height: 1136px;
  background-image: url(../img/amazon/boat.png);
  background-size: cover;
  top: 0px;
  left: 0px;
}
.amazon .monkey {
  position: absolute;
  width: 446px;
  height: 504px;
  background-image: url(../img/amazon/monkey.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 55px;
  left: -10px;
}
.amazon .bird1 {
  position: absolute;
  width: 379px;
  height: 374px;
  background-image: url(../img/amazon/bird1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 205px;
  left: 342px;
}
.amazon .bird2 {
  position: absolute;
  width: 120px;
  height: 98px;
  background-image: url(../img/amazon/bird2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 655px;
  left: -100px;
}
.amazon .product {
  position: absolute;
  width: 232px;
  height: 236px;
  background-image: url(../img/amazon/product.png);
  background-size: contain;
  left: 400px;
  top: 640px;
}
.amazon .clickme {
  left: 440px;
  top: 560px;
}
.amazon-result {
  background-image: url(../img/amazon/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.moon .bg {
  background-image: url(../img/moon/bg.jpg);
}
.moon .earth {
  position: absolute;
  width: 289px;
  height: 290px;
  transform-origin: 0px 0px 0px;
  background-image: url(../img/moon/earth.png);
  background-size: contain;
  background-size: 600%;
  top: 120px;
  left: 50px;
}
.moon .man {
  position: absolute;
  width: 246px;
  height: 354px;
  background-image: url(../img/moon/man.png);
  background-size: contain;
  left: 90px;
  top: 620px;
}
.moon .product {
  position: absolute;
  width: 113px;
  height: 175px;
  background-image: url(../img/moon/product.png);
  background-size: contain;
  left: 337px;
  top: 770px;
}
.moon .clickme {
  left: 310px;
  top: 690px;
}
.moon-result {
  background-image: url(../img/moon/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.egypt .bg {
  background-image: url(../img/egypt/bg.png);
}
.egypt .fg {
  position: absolute;
  width: 640px;
  height: 1136px;
  background-repeat: no-repeat;
  background-image: url(../img/egypt/fg.png);
  background-size: contain;
}
.egypt .grass {
  position: absolute;
  width: 640px;
  height: 1136px;
  background-repeat: no-repeat;
  background-image: url(../img/egypt/grass.png);
  background-size: contain;
}
.egypt .camel {
  position: absolute;
  width: 1238px;
  height: 300px;
  transform-origin: 0px 0px 0px;
  background-image: url(../img/egypt/camel.png);
  background-size: contain;
  background-size: 600%;
  top: 540px;
  left: -210px;
}
.egypt .product {
  position: absolute;
  width: 184px;
  height: 153px;
  background-image: url(../img/egypt/product.png);
  background-size: contain;
  left: 280px;
  top: 860px;
}
.egypt .product-press {
  position: absolute;
  width: 184px;
  height: 153px;
  left: 280px;
  top: 860px;
}
.egypt .clickme {
  left: 290px;
  top: 780px;
}
.egypt-result {
  background-image: url(../img/egypt/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.singapore .bg {
  background-image: url(../img/singapore/bg.jpg);
}
.singapore .balloon1 {
  position: absolute;
  width: 150px;
  height: 193px;
  background-image: url(../img/singapore/balloon1.png);
  background-size: cover;
  top: 11px;
  left: 26px;
}
.singapore .balloon2 {
  position: absolute;
  width: 54px;
  height: 70px;
  background-image: url(../img/singapore/balloon1.png);
  background-size: cover;
  top: 156px;
  left: 343px;
}
.singapore .balloon3 {
  position: absolute;
  width: 110px;
  height: 140px;
  background-image: url(../img/singapore/balloon2.png);
  background-size: cover;
  top: 247px;
  left: 196px;
}
.singapore .fountain {
  position: absolute;
  width: 573px;
  height: 422px;
  background-image: url(../img/singapore/fountain.png);
  background-size: 300%;
  top: 625px;
  left: -110px;
}
.singapore .ship {
  top: 970px;
  left: 640px;
  position: relative;
  width: 528px;
  height: 160px;
}
.singapore .ship .hull {
  width: 336px;
  height: 160px;
  background-image: url(../img/singapore/ship.png);
  background-size: cover;
}
.singapore .ship .water {
  width: 525px;
  height: 55px;
  background-image: url(../img/singapore/water.png);
  background-size: 100%;
  position: absolute;
  top: 44px;
  left: 15px;
}
.singapore .product {
  position: absolute;
  width: 155px;
  height: 108px;
  background-image: url(../img/singapore/product.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: 200px;
  top: 800px;
}
.singapore .clickme {
  left: 240px;
  top: 720px;
}
.singapore-result {
  background-image: url(../img/singapore/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.japan-result .next,
.singapore-result .next,
.amazon-result .next,
.geneva-result .next,
.moon-result .next {
  position: absolute;
  width: 100%;
  bottom: 10vh;
  text-align: center;
}
.japan-result .next img,
.singapore-result .next img,
.amazon-result .next img,
.geneva-result .next img,
.moon-result .next img {
  width: 50%;
}
.result {
  background-image: url(../img/score/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.result .score {
  margin-top: 11vh;
  font-size: 10vh;
  text-align: center;
  color: #6f430f;
}
.result .score sub {
  font-size: 6vh;
  vertical-align: baseline;
}
.result .rank {
  margin-top: -2vh;
  font-size: 3vh;
  text-align: center;
  color: #6f430f;
}
.result .rank span {
  font-size: 4vh;
  margin: 0 5px;
}
.result .retry {
  margin-top: 30vh;
  text-align: center;
}
.result .retry img {
  width: 50vw;
}
.result .share {
  margin-top: 6vh;
  text-align: center;
}
.result .share img {
  width: 50vw;
}
.over img {
  width: 100%;
}
@keyframes shake {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
#slide-wrapper {
  width: 100%;
  position: absolute;
  padding: 0 20vw;
  bottom: 10vh;
  z-index: 15;
  display: none;
}
#slider {
  padding: 6px 20px;
  position: relative;
  border-radius: 15px;
  background-image: url(../img/scene/slider/button-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  text-align: center;
  height: 40px;
}
#slider span {
  color: #b78b4b !important;
}
#slider.success {
  background-color: #E5EE9F;
}
#label {
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 18;
  cursor: pointer;
  text-align: left;
}
#label img {
  height: 100%;
}
#labelTip {
  z-index: 16;
  color: #b78b4b;
}
@keyframes bounce-down {
  25% {
    transform: translateY(-3px);
  }
  50%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(3px);
  }
}
.animate-bounce-down {
  animation: bounce-down 1.3s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes wave-left {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: -100%;
  }
}
@keyframes wave-right {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 200%;
  }
}